.cobg{
   background-color:#FEFFD9;
   padding:80px;
   margin:auto;
   text-align:center;
}

.cobg h2{
   font-family: 'Montserrat',
   sans-serif;
   font-weight: 450;
   line-height: 4rem;
}

.mycoform form label {
   font-family: 'Montserrat',
   sans-serif;
   font-size:17px;
   font-weight: 450;
   line-height: 4rem;
}
/* 
.mycoform form placeholder{
   font-family: 'Montserrat',
   sans-serif;
   font-size:17px;
   font-weight: 450;

} */

.mycoform form input{
   border: 0.5px solid #504D4D;
   opacity: 0.5;
}

.mycoform form input::placeholder {
   font-family: 'Montserrat',
   sans-serif;
   font-size:15px;
   font-weight: 450;
}

.formname{
   padding:15px;
   width:100%;
   margin-bottom:35px;
}
/* .heroflex h1 {
   font-family: 'Montserrat',
      sans-serif;
   font-weight: 410;
   line-height: 4rem; */

.coflex{
   display:flex;
   justify-content:space-between;
}